*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    font-size: 10px;
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --hover-color: #f0f0f072;
    --main-transition: 0.3s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
    --section-background: #ececec;
}

body {
    background-color: #eee;
    font-family: Cairo, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Components */


/* Container */
.container {
    padding: 0 1.5rem;
    margin: 0 auto;
    width: 100%;
}

@media (min-width: 768px) {
    .container {
        max-width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1180px;
    }
}

.top-header-out {
    background-color: white;
    box-shadow: 0px 0px 5px #aaa;
    position: relative;
}



.top-header {
    font-size: 1rem;
}

@media (min-width: 767px) {
    .top-header {
        height: 75px;
    }
}

.top-header-logo {
    padding: .5em .3em .5em;
    margin: 0;
    font-size: 2rem;
    text-transform: capitalize;
    color: var(--main-color);
    text-align: center;
}

.top-header-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.top-header-menu-item {
    display: inline-block;
    font-size: clamp(1rem, 5vw, 1.4rem);
    padding: .7em .7em;
    text-transform: capitalize;
    position: relative;
    z-index: 2;
    overflow: hidden;
    text-decoration: none;
    color: black;
    cursor: pointer;
    transition: color var(--main-transition) ease-in-out;
}

@media (min-width: 767px) {
    .top-header {
        display: flex;
        align-items: center;
    }

    .top-header-logo {
        font-size: 2.8em;
    }

    .top-header-menu {
        margin-left: auto;
    }

    .top-header-menu-item {
        font-size: 1.8rem;
        padding: 1.5em 1.7em
    }
}

.top-header-menu-item::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: var(--hover-color);
    z-index: -4;
    pointer-events: none;
    transition: transform var(--main-transition) ease-in-out;
}

.top-header-menu-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: .3em;
    background-color: var(--main-color);
    transition: transform var(--main-transition) ease-in-out;
}

.top-header-menu-item:hover {
    color: var(--main-color)
}

.top-header-menu-item:hover::before,
.top-header-menu-item:hover::after {
    background-position: center left;
    transform: translateX(100%)
}

.top-header-hidden-menu-trigger:hover>.top-header-hidden-menu {
    display: block;
    animation: top-header-hidden-menu var(--main-transition) ease-in-out;
    animation-fill-mode: forwards;
}

@media (min-width: 767px) {
    .top-header-hidden-menu-trigger:hover>.top-header-hidden-menu {
        display: flex;
        gap: 4rem;
    }
}

.top-header-hidden-menu {
    display: none;
    background-color: white;
    position: absolute;
    top: 100%;
    width: 100%;
    left: 50%;
    border-top: 1px solid #eeeddd;
    border-bottom: 5px solid var(--main-color);
    z-index: 20;
    opacity: 0;
    transform: translateX(-50%);
    border-top: 2px solid #eee;
}

@media (min-width: 768px) {
    .top-header-hidden-menu {
        padding: 3rem;
        width: 750px;
    }
}

@media (min-width: 992px) {
    .top-header-hidden-menu {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .top-header-hidden-menu {
        width: 1180px;
    }
}

@media (max-width: 992px) {
    .top-header-hidden-menu-image {
        display: none;
    }
}

.top-header-hidden-menu-image>img {
    width: 100%;
}

@media (min-width: 1200px) {
    .top-header-hidden-menu-image>img {
        width: 80%;
    }
}

.top-header-hidden-menu-image {
    align-self: center;
    text-align: center;
}

.top-header-hidden-menu-items {
    padding: 0;
    margin: 0;
}

@media (min-width: 767px) {
    .top-header-hidden-menu-items {
        min-width: 250px;
        flex: 1;
    }
}

@keyframes top-header-hidden-menu {
    0% {
        opacity: 0;
        top: 150%;
    }

    100% {
        opacity: 1;
        top: 100%;
    }
}

.top-header-hidden-menu-item {
    position: relative;
    padding: 1.5rem;
    padding-left: 0;
    text-align: center;
    color: var(--main-color);
    display: flex;
    font-size: 1.5em;
    cursor: pointer;
    overflow: hidden;

}

.top-header-hidden-menu-item:not(:last-of-type) {
    border-bottom: 1px solid #eee;
}

@media (min-width: 767px) {
    .top-header-hidden-menu-item {
        font-size: 1.8em;
    }
}

.top-header-hidden-menu-item::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background-color: var(--hover-color);
    z-index: -1;
    transition: transform var(--main-transition) ease-in-out;
}

.top-header-hidden-menu-item:hover::before {
    transform: translateX(100%);
}

.top-header-hidden-menu-item-icon {
    flex-basis: 40px;
}

.top-header-hidden-menu-item-title {
    font-weight: bold;
    text-transform: capitalize;
}